@import './variables/colours';
@import './variables/spaces';

.nav-header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $yellow;
  box-shadow: 0 1px 0 0 rgba(0,0,0,.1);;

  .header-logo {
    margin-right: 26px;
  }

  .header-container {
    display: flex;
  }
}
