@import './variables/colours';

.search-box-form {
  position: relative;
  display: inline-block;
  width: 100%;

  .search-box-input {
    height: 38px;
    padding: 10px 51px 10px 15px;
    border-radius: 2px;
    font-size: 18px;
    border: none;
    outline: none;
    width: 100%;
    box-sizing: border-box;

    &::placeholder {
      color: $gray-3;
    }
  }

  .search-box-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 38px;
    width: 42px;
    cursor: pointer;
    border: none;
    outline: none;
  }
}
